section.participant-item {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: solid 2px #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
}

section.participants-list-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.participant-item p {
    margin: 0;
}

section.participant-info {
    width: 80%;
}

section.referrals {
    text-align: center;
    width: 20%;
}

section.contest-profile-buttons {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

span.participant-name {
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    section.contest-profile-buttons {
        flex-direction: row;
    }
    section.contest-profile-buttons a {
        padding-right: 10px;
    }
}