section.thank-you-box {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #F2F2F2;
    padding: 5% 10%;
    border-radius: 5px;
}

section.social-buttons {
    display: flex;
    justify-content: center;
}