section.contest-list {
    display: flex;
}

ul.contest-list {
    width: 100%
}

section.contest-header-box {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #C89F87;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

section.contest-header-box h2, section.contest-header-box a {
    color: white;
}

section.contest-header-box p {
    text-align: center;
}

li.contest-list-item {
  text-align: left;
  border-bottom: solid 2px #F2F2F2;
  height: 40px;
}

li.contest-list-item a {
    text-decoration: none;
}