nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5%;
    padding-right: 1.5%;
    box-shadow: 1px 1px 7px lightgrey;
}

img.logo {
    width: 170px;
    height: 100%;
}

nav section {
    display: flex;
}

img.menu-icon {
    width: 48px;
}

div.ReactModal__Content.ReactModal__Content--after-open {
    width: 100%;
    height: 100%;
    top: auto;
    bottom: auto; 
    right: auto;
    left: auto;
}
