nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 1px 1px 7px lightgrey;
}

nav img {
    width: 170px;
    height: 100%;
}