section.contest-profile-buttons {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    section.contest-profile-buttons {
        flex-direction: row;
    }
    section.contest-profile-buttons a {
        padding-right: 10px;
    }
}