@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  font-size: 40px;
  line-height: 52px;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  color: #C89F87;
}

  p, a, label, select, button {
  font-size: 19px;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

a {
  color: #C89F87;
  font-weight: 600;
}

.with-margins {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

header.signup-header, header.login-header {
  padding: 10%;
  text-align: center;
}

header.landing-page {
  padding: 0;
}

section.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

form {
  background-color: #F2F2F2;
  padding: 5% 10%;
  border-radius: 5px;
}

label {
  color: #131313;
}

input {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #131313;
  height: 40px;
  margin-bottom: 5px;
  font-size: 19px;
  width: 100%;
}

input[type="submit"] {
  background-color: #C89F87;
  border-bottom-color: #C89F87;
  color: white;
  height: 50px;
  border-radius: 5px;
  font-size: 19px;
  line-break: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

section.call-to-action h2 {
  color: white;
}

@media only screen and (min-width: 768px) {
h1, h2 {
  font-size: 48px;
  line-height: 1.08;
}

p, a, label, select {
  font-size: 17px;
  line-height: 1.4;
}

input {
  font-size: 17px;
}

input[type="submit"] {
  border-radius: 5px;
  font-size: 17px;
  line-height: 1.4;
}

  section.two-column-section {
    display: flex;
  }

  section.image-right {
    flex-direction: row-reverse;
  }

  section.image-left {
    flex-direction: row;
  }

  section.individual-column {
    width: 50%;
    padding: 5% 10%;
  }
}

@media only screen and (min-width: 1024px) {
  .with-margins {
  width: 60%;
  }
}